@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>აპლიკაციის გამოყენებით თქვენ შეგიძლიათ გატესტოთ საიტზე XSS დაცულ და დაუცველ მოუდში</h5>
</div>
